<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="card_io-iOS-SDK-PhoneGap"
        version="1.0.0">

    <name>CardIOPlugin</name>

    <description>
        Card.IO Plugin for Steroids.js
    </description>

    <asset src="www/CardIOPGPlugin.js" target="plugins/CardIOPGPlugin.js" />

    <engines>
        <engine name="cordova" version=">=2.7.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="card_io" value="card.io-iOS-SDK-PhoneGap"/>
        </config-file>

        <source-file src="src/android/com/appgyver/plugin/card_io.java"
                     target-dir="src/com/appgyver/plugin" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*/plugins">
            <plugin name="card_io" value="Echo" onload="true" />
        </config-file>

        <config-file target="config.xml" parent="/widget">
            <feature name="card_io">
                <param name="ios-package" value="card_io"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CardIOPGPlugin.h" />

        <source-file src="src/ios/CardIOPGPlugin.m" />

    </platform>
</plugin>